<%- include('../includes/head.ejs') %>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <template id="modal-template">
        <div class="modal-content" id="modal-content">
            <div class="modal-animation">
                <lottie-player id="player" src="https://assets5.lottiefiles.com/packages/lf20_lk80fpsm.json" background="transparent"  speed="1.5"></lottie-player>
            </div>
            <div class="modal-text"><h2>Success!</h2></div>
            <div class="modal-login">
                    <a href="/" class="button">
                        <i class="fas fa-sign-in-alt"></i> Login
                    </a>
            </div>
        </div>
    </template>
    <div class="se-pre-con">
		<div class="loader-area">
			<span class="loader"></span>
		</div>
	</div>
    <main class="portal">
        <div>
            <div class="box-manage">
                <h2><%= pageTitle %></h2>
                <% if(admin) {%>
                <h3><%= editUser.email %></h3>
                <%}%>
                <form id="signup-form" method="POST">
                    <div class="input-area">
                        <% if(!admin) {%>
                        <div class=input-box>
                            <span>Old Password</span>
                            <input type="password" placeholder="Enter your old password"  id="opassword" name = "opass"/>
                        </div>
                        <%}%>
                        <div class=input-box>
                            <span>New Password</span>
                            <input type="password" placeholder="Enter your new password"  id="password" name = "pass"/>
                        </div>
                        <div class=input-box>
                            <span>Confirm Password</span>
                            <input type="password" placeholder="Confirm password" id="cpassword" name = "cpass"/>
                        </div>
                        <button type="submit" class="big-btn" id="submit" name="submit"><div class='animation-container'>Change Password</button>
                    </div>
                </form>
            </div>
        </div>
        <script>
            const user = JSON.parse(`<%- JSON.stringify(editUser) %>`) ;
        </script>
        <%if(!admin){ %>
            <script src="/js/changepassword.js?version=<%= version %>" type="module" defer></script>
        <% } else {%>
            <script src="/js/changepasswordadmin.js?version=<%= version %>" type="module" defer></script>
        <%}%>

<%- include('../includes/end.ejs') %>