<%- include('../includes/head.ejs') %>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <template id="modal-template">
        <div class="modal-content" id="modal-content">
            <div class="modal-animation">
                <lottie-player id="player" src="https://assets5.lottiefiles.com/packages/lf20_qdvtg1fv.json" background="transparent"  speed="1.5"></lottie-player>
            </div>
            <div class="modal-text"><h2>Account Deleted</h2></div>
            <div class="modal-login">
                    <a href="/" class="button">
                        <i class="fas fa-sad-cry"></i> Good Bye!
                    </a>
            </div>
        </div>
    </template>
    <div class="se-pre-con">
		<div class="loader-area">
			<span class="loader"></span>
		</div>
	</div>
    <main class="portal">
        <div>
            <div class="box-manage">
                <h2><%= pageTitle %></h2>
                <h3><%= editUser.email %></h3>
                <% if(!admin){ %>
                <h3>It's sad to see you go. Sayonara!</h3>
                <h3>Please enter your password to confirm</h3>
                <%}%>
                <form id="signup-form" method="POST">
                    <div class="input-area">
                        <% if(!admin){ %>
                        <div class=input-box>
                            <span>Password</span>
                            <input type="password" placeholder="Enter your password"  id="password" name = "pass"/>
                        </div>
                        <%}else{%>
                        <br/><br/><br/>
                        <%}%>
                        <button type="submit" class="big-btn warning-btn" id="submit" name="submit"><div class='animation-container'>Delete Account</button>
                    </div>
                </form>
            </div>
        </div>
        <script>
            const user = JSON.parse(`<%- JSON.stringify(editUser) %>`) ;
        </script>
        <%if(!admin){%>
        <script src="/js/deleteAccount.js?version=<%= version %>" type="module" defer></script>
        <%}else{%>
        <script src="/js/deleteAccountAdmin.js?version=<%= version %>" type="module" defer></script>

        <%}%>
<%- include('../includes/end.ejs') %>