<%- include('../includes/head.ejs') %>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>
<body>
    <div class="se-pre-con">
		<div class="loader-area">
			<span class="loader"></span>
		</div>
	</div>
    <main class="portal">
        
        <a class="mainimg" href="./"><img src="/images/zoom1.svg?version=<%= version%>" alt="Hasathcharu Meeting Portal" /></a>
        <div>
            <div class="box-manage">
                <h2><%= pageTitle %></h2>
                <h2>Hey <%= user.fname%>, you are approved!</h2>
                <h3>Welcome to meet.hasathcharu.com!</h3>

                <div class="lottie-not-approved"><lottie-player src="https://assets5.lottiefiles.com/packages/lf20_kujqck0u.json" background="transparent"  speed="1" loop autoplay></lottie-player></div>
                <br/><br/>
                <a class="button" href="/user/get-started">Get Started!</a>
            </div>
        </div>
        
<%- include('../includes/end.ejs') %></main>