<%- include('../includes/head.ejs') %>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <template id="modal-template">
        <div class="modal-content" id="modal-content">
            <div class="modal-animation">
                <lottie-player id="player" src="https://assets5.lottiefiles.com/packages/lf20_lk80fpsm.json" background="transparent"  speed="1.5"></lottie-player>
            </div>
            <div class="modal-text"><h2>Success!</h2></div>
            <div class="modal-login"><a href="/" class="button"><i class="fas fa-sign-in-alt"></i> Login</a></div>
        </div>
    </template>
    <div class="se-pre-con">
		<div class="loader-area">
			<span class="loader"></span>
		</div>
	</div>
    <main class="portal">

        <div>
            <h1>Hey Haritha!</h1>
            <div class="box-manage">

                <h2><%= pageTitle %></h2>
                <!-- <h3>There are no links assigned for you yet :(</h3> -->
                <div class="box-area">
                    <a href="/admin/approve">
                        <div class="admin-link-box">
                            <div>
                                <h2>Approve New Users</h2>
                            </div>
                            <div class="count">
                                <h3><%= unapprovedUsers %></h3>
                            </div>
                            <div class="caret">
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </div>
                    </a>
                    <a href="/admin/users">
                        <div class="admin-link-box">
                            <div>
                               <h2>Manage Users</h2>
                            </div>
                            <div class="count">
                                <h3><%= approvedUsers %></h3>
                            </div>
                            <div class="caret">
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </div>
                    </a>
                    <a href="/admin/zoom-links">
                        <div class="admin-link-box">
                            <div class="content">
                                <h2>Manage Links</h2>
                            </div>
                            <div class="count">
                                <h3><%= links %></h3>
                            </div>
                            <div class="caret">
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
<%- include('../includes/end.ejs') %>