<!DOCTYPE html>
<% if(theme){ %>
<html data-theme="dark">
<%}else{%>
<html data-theme="light">
<%}%>

<head>
	<script src="/js/pageload.js?version=<%= version%>"></script>
	<meta charset="UTF-8" />
    <meta name="theme-color" content="#22cc9d" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title><%= pageTitle %></title>
	<meta property="og:description" content="Hasathcharu Meeting Portal" />
    <meta property="description" content="Hasathcharu Meeting Portal" />
	<meta property="og:image" content="https://meet.hasathcharu.com/images/embed.png" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://meet.hasathcharu.com" />
    <meta NAME="robots" CONTENT="noindex,nofollow">
	<link href="/css/main.css?version=<%=version%>" rel="stylesheet" type="text/css" />

	<!-- FAVICON -->
	<link rel="icon" type="image/svg+xml" href="/favicon.svg?version=<%=version%>">
	<link rel="icon" type="image/png" href="/favicon.png?version=<%=version%>">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?version=<%=version%>">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?version=<%=version%>">	
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?version=<%=version%>">
	<link rel="manifest" href="/site.webmanifest?version=<%=version%>">
	<link rel="mask-icon"  href="/safari-pinned-tab.svg?version=<%=version%>" color="#000000">
	<link rel="shortcut icon"  href="/favicon.ico?version=<%=version%>">
	<meta name="apple-mobile-web-app-title" content="Meeting Portal">
	<meta name="application-name" content="Meeting Portal">
	<meta name="msapplication-TileColor" content="#ffffff">


    <link
		rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
		integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
		crossorigin="anonymous"
	/>
