<header>
    <div class="theme-toggle">
        <div id="darkMode"><i class="fas fa-adjust"></i></div>
    </div>
    <% if (userPage){%>
    <img src="/images/text.svg?version=<%= version%>" alt="Hasathcharu Logo"/>
    <% } else {%>
        <div></div>
    <%  }  %>
    <% if(isLoggedIn){ %>
        <div class="profile" id="profile-icon">
            <div class="profile-icon" >
                <%=user.fname[0]%><%=user.lname[0]%>
            </div>
        </div>
        <div class="profile-modal" id="profile-modal">
            <h3 class="user-name-h3"><%= user.fname %></h3>
            <h4 class="user-name-h4"><%= user.lname %></h4>
            <p class="user-name-p"><%= user.email %></p>
            <hr>
            <div class="profile-options">
                <div class="profile-option"><a href="/user/profile">Profile</a></div>
                <div class="profile-option"><a href="/user/edit">Edit Profile</a></div>
                <% if(user.isAdmin){%>
                    <div class="profile-option"><a href="/admin">Admin</a></div>
                <% } %>
                <div class="profile-option"><a href="/auth/logout">Log out</a></div>
            </div>
        </div>
    <% }else{%>
        <a class="button small-btn" href="/"><i class="fas fa-sign-in-alt"></i></a>
    <%} %>
</header>

