<%- include('../includes/head.ejs') %>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="se-pre-con">
		<div class="loader-area">
			<span class="loader"></span>
		</div>
	</div>
    <main class="portal portal-meeting">
        <a class="mainimg" href="/"><img src="/images/zoom1.svg?version=<%= version%>" alt="Hasathcharu Meeting Portal" /></a>
        <h2 class="title-meet">Haritha's Meeting Portal</h2>
        <div class="meeting-animation">
            <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_rxjjypq7.json" background="transparent"  speed="1" loop autoplay></lottie-player>
        </div>
        <div class="meeting-content">
                    <h1 id="topic"><%= pageTitle %></h1>
                    <% if(link.status){ %>
                        <span class='live' id = 'status'><i class='fas fa-video'></i>&nbsp;&nbsp; <%= link.timeText %></span>
                    <% } else if(link.other){ %>
                        <span class='another' id = 'status'><i class="fas fa-brain"></i>&nbsp;&nbsp; Host is in another meeting</span>
                    <%}else{%>
                        <span class='inactive' id = 'status'><i class="fas fa-minus-circle"></i>&nbsp;&nbsp; Inactive</span>
                    <%} %>
                    <br/><br/>
                    <div class="input-area">
                    <div class=input-box>
                    <span>Join as (optional)</span>

                    <input type="text" placeholder="<%=(isLoggedIn)? (user.fname+' '+user.lname): 'Enter your name'%>" id = "name" name = "name" required/>
                    </div>
                    </div>
                    <br/>
                    <div>
                        <button id="join">Join Meeting <i class="fas fa-chalkboard-teacher"></i></button>
                        <button id="copyLink" class="secondary-btn"><i class="far fa-copy"></i></button>
                    </div><br/>

                    <p id="assume"></p>
                    <% if(isLoggedIn && !assigned){ %>
                        <button id="assign"><i class="fas fa-plus-circle"></i> Add</button><br/>
                        <span id="assign-error" style="display:none;" class="red-message"></span>
                    <% } %>
                    <br/><br/>
        </div>
        <script>
            const link = JSON.parse(`<%- JSON.stringify(link) %>`);
            
                
            
        </script>
        <%if(user){%>
            <script>
                let user = JSON.parse(`<%- JSON.stringify(user) %>`);
            </script>
        <%}else{%>
            <script>
                user = null;
            </script>
        <%}%>
        <script src="/js/zoomlink.js?version=<%= version %>"></script>
<%- include('../includes/end.ejs') %>