
<%- include('../includes/head.ejs') %>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="se-pre-con">
		<div class="loader-area">
			<span class="loader"></span>
		</div>
	</div>
    <main class="portal">
        <a class="mainimg" href="https://hasathcharu.com"><img src="/images/zoom1.svg?version=<%= version%>"/></a>
        <div>
            <h2 class="meeting-end-title"><%=pageTitle%></h2>
            <div class="meeting-end-animation">
                <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_xmdlmtgz.json" background="transparent"  speed="1" loop autoplay></lottie-player>
            </div>
            <h2 class="meeting-end-title">Thank You for Joining !</h2><br/>
            <button onclick="window.location.href='/j/<%=link.url%>'">Go back</button><br/><br/>
        </div>
<%- include('../includes/end.ejs') %>